body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f7f9fc;
    display: flex;
}

/* Barra lateral */
.sidebar {
    width: 230px;
    background-color: #1e293b;
    color: white;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 30px;
    color: #38bdf8;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 15px 0;
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #334155;
}

/* Contenido principal */
.main-content {
    flex: 1;
    padding: 40px;
}
